{{ $ := .root }}
{{ $page := .page }}

<!-- Featured widget -->
<div class="row">
  <div class="col-12 col-lg-4">
    <table width="75%" align="center" border="0" cellspacing="0" cellpadding="20">
        <tbody>
            <tr>
                <th width="33%">
                    <div>
                    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/CrazyImpressionableIsopod-size_restricted.gif" height='150' alt="GIF" />
                    <p>
                        <center>
                            <a href="http://arxiv.org/abs/1509.06825"><h4>Learning to Grasp</h4></a>
                        </center>
                    </p>
                </th>
                <th width="33%">
                    <div>
                    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/SomberForcefulAnnelid-size_restricted.gif" height='150' alt="GIF" />
                    <p>
                        <center>
                            <a href="http://arxiv.org/abs/1704.05588"><h4>Learning to Fly</h4>
                        </center>
                    </p>
                </th>
                <th width="33%">
                    <div>
                    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/DangerousAnnualAsianelephant-size_restricted.gif" height='150' alt="GIF" />
                    <p>
                        <center>
                            <a href="https://arxiv.org/abs/1807.07049"><h4>Learning in Homes</h4></a>
                        </center>
                    </p>
                </th>
            </tr>
        </tbody>
    </table>
  </div>
</div>
