{{ $ := .root }}
{{ $page := .page }}

<!-- Featured widget -->
<div class="row">
  <div class="col-12 col-lg-4">
    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/CrazyImpressionableIsopod-size_restricted.gif" height='150' alt="GIF" />
      <p>
          <center>
              <a href="http://arxiv.org/abs/1509.06825"><h4>Learning to Grasp</h4></a>
          </center>
      </p>
  </div>
  <div class="col-12 col-lg-4">
    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/CrazyImpressionableIsopod-size_restricted.gif" height='150' alt="GIF" />
      <p>
          <center>
              <a href="http://arxiv.org/abs/1509.06825"><h4>Learning to Grasp</h4></a>
          </center>
      </p>
  </div>
  <div class="col-12 col-lg-4">
    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/CrazyImpressionableIsopod-size_restricted.gif" height='150' alt="GIF" />
      <p>
          <center>
              <a href="http://arxiv.org/abs/1509.06825"><h4>Learning to Grasp</h4></a>
          </center>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-4">
    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/CrazyImpressionableIsopod-size_restricted.gif" height='150' alt="GIF" />
      <p>
          <center>
              <a href="http://arxiv.org/abs/1509.06825"><h4>Learning to Grasp</h4></a>
          </center>
      </p>
  </div>
  <div class="col-12 col-lg-4">
    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/CrazyImpressionableIsopod-size_restricted.gif" height='150' alt="GIF" />
      <p>
          <center>
              <a href="http://arxiv.org/abs/1509.06825"><h4>Learning to Grasp</h4></a>
          </center>
      </p>
  </div>
  <div class="col-12 col-lg-4">
    <img class="centered-and-cropped"  src="https://thumbs.gfycat.com/CrazyImpressionableIsopod-size_restricted.gif" height='150' alt="GIF" />
      <p>
          <center>
              <a href="http://arxiv.org/abs/1509.06825"><h4>Learning to Grasp</h4></a>
          </center>
      </p>
  </div>
</div>
